<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <div align="center">
            <p style="font-size: 40px; color: #141672;">ERROR REPORTING SYSTEM</p>
        </div>
        <br/>
        <input type="text" id="email" name="email" th:placeholder="Email"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div class="alert alert-danger" role="alert" align="center" th:if="${param.error}">
            <p style="font-size: 15px;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
        <form th:action="@{/registration}" method="get">
            <p class="navbar-text navbar-right" >Go to registration <a href="/registration" class="navbar-link">page</a></p>
        </form>
    </form>
</div>
</body>
</html>